<div class="jumbotron">
  <h2><i class="fa fa-user" aria-hidden="true"></i> Admin Dashboard</h2><div class="dash-line"></div>
  <p>Here you can manage Hangar theatre movies, events and lounge party approvals</p>
  <div class="row">
    <div class="col-md-6">
        <div class="jumbotron bg-yellow">
            <h2><i class="fa fa-film" aria-hidden="true"></i> Movies</h2><div class="dash-line"></div>
            <p>Here you can Add/Update Movies</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/admin/new-movie"><i class="fa fa-plus" aria-hidden="true"></i> New Movie</a>
                <a class="btn btn-primary btn-lg" href="/admin/edit-movies"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Movies</a>
                <a class="btn btn-primary btn-lg" href="/admin/edit-screens"><i class="fa fa-edit" aria-hidden="true"></i> Screens</a>
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron bg-red">
            <h2><i class="fa fa-glass" aria-hidden="true"></i> Lounge Events</h2><div class="dash-line"></div>
            <p>Here you can Add/Update Lounge Events</p>
            <p>
                <a href="/admin/new-event" class="btn btn-default btn-lg"><i class="fa fa-plus" aria-hidden="true"></i> Add New Event</a>
                <a href="/admin/edit-events" class="btn btn-default btn-lg"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Events</a>
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron bg-green">
            <h2><i class="fa fa-users" aria-hidden="true"></i> Users</h2><div class="dash-line"></div>
            <p>Here you can Add/Update Users</p>
            <p>
                <a href="/admin/new-user" class="btn btn-default btn-lg"><i class="fa fa-plus" aria-hidden="true"></i> Add New User</a>
                <a href="/admin/edit-user" class="btn btn-default btn-lg"><i class="fa fa-pencil" aria-hidden="true"></i> Edit User</a>
            </p>
        </div>
    </div>
  </div>
</div>