<div class="row">
    <div class="col-md-12">

        <div class="evtImage" style="background:url('/images/event1.jpg') center center; background-size:cover; width:100%; height:200px">
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>
                Justin Biber Concert
            </h2>
            <p> <strong>Venue: </strong>Hanger, Maryville, MO 64468 </p>
            <p> <strong>Date & Time: </strong> Apr 28th, 2017at 6:00 PM </p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-1">
            <label><strong> Number of tickets :</strong></label>
        </div>
        <div class="col-md-2">
                <select class="form-control block selectpicker" >
                    <option><a href="#">1</a></option>
                    <option><a href="#">2</a></option>
                    <option><a href="#">3</a></option>
                    <option><a href="#">4</a></option>
                    <option><a href="#">5</a></option>
                    <option><a href="#">6</a></option>
                    <option><a href="#">7</a></option>
                    <option><a href="#">8</a></option>
                    <option><a href="#">9</a></option>
                </select>
        </div>
    </div>
    <a href="/payment" class="btn btn-danger" role="button">Book Event</a>

</div>