<div class="row">
    <div class="col-md-12">
   <h2><i class="fa fa-glass" aria-hidden="true"></i> Events</h2><div class="dash-line"></div>
    </div>
    <div class="col-md-12">
       <div class="items">
        <div class="item thumbnail">
          <img src="/images/event_thumbnails/jb.jpg" alt="book bahubali movie tickets" />
          <div class="mv-desc preview row">
            <div class="col-md-8">
              <h3 class="mv-title">Justn Bieber</h3>
              <p class="mv-lang label label-primary">English</p><br/>
              <div class="mv-genre-list">
                <label>Dance</label>
                <label>Songs</label>
              </div>
            </div>
            <div class="col-md-4 scnd_col">
            <span class="mv-price">18$</span>
            </div>
          </div>
          <a class="book-button" href="/events/book-event">
            Book Now 
          </a>
        </div>
        <div class="item thumbnail">
          <img src="/images/event_thumbnails/lantern.jpg" alt="book beauty and the beast movie tickets" />
          <div class="mv-desc preview row">
            <div class="col-md-8">
              <h3 class="mv-title">Lanterns fly high</h3>
              <p class="mv-lang label label-primary">English</p><br/>
              <div class="mv-genre-list">
                <label>drama</label>
                <label>romance</label>
              </div>
            </div>
            <div class="col-md-4 scnd_col">
            <span class="mv-price">10$</span>
            </div>
          </div>
          <a class="book-button" href="/events/book-event">
            Book Now 
          </a>
        </div>
        <div class="item thumbnail">
          <img src="/images/event_thumbnails/birthday.jpg" alt="book beauty and the beast movie tickets" />
          <div class="mv-desc preview row">
            <div class="col-md-8">
              <h3 class="mv-title">Bithday Bash</h3>
              <p class="mv-lang label label-primary">English</p><br/>
              <div class="mv-genre-list">
                <label>drama</label>
                <label>romance</label>
              </div>
            </div>
            <div class="col-md-4 scnd_col">
            <span class="mv-price">10$</span>
            </div>
          </div>
          <a class="book-button" href="/events/book-event">
            Book Now 
          </a>
        </div>
      </div>
    </div>
    </div>