<div class="container">
    <div class="row">
        <div class="col-md-12">
          <center class="status green">
            <h1><i class="fa fa-check" aria-hidden="true"></i> Payment Success</h1><div class="dash-line"></div>
            <h3>Booking Confirmation Number: <label class="red">34578AGBH</label></h3>
            <!-- <label>Movie Name: Bahubali 2</label><br/><label># of Tickets: 6</label>--><br/> <label>Total Price: $320</label>
          </center>
        </div>
    </div>
</div>