<div class="row">
    <div class="col-md-12">
        <div class="evtImage" style="background:url('/images/1.jpg') top center; background-size:cover; width:100%; height:200px; ">
        <div class="container">
            <div class="row">
                <div class="col-md-3 opa-50 ">
                    <div style="background:url('/images/movie_thumbnails/1.jpg') top center; background-size:cover; width:100%; height:200px;     margin-top: 30%; border: 3px solid #fff; border-radius: 11px; box-shadow: 2px 2px 7px;">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bg-black-50 mv-details-screenpage">
                    <h2>
                    Bahubali 2
                    </h2>
                    <p> <strong>Venue: </strong>Hanger, Maryville, MO 64468 </p>
                    <p> <strong>Date & Time: </strong> Apr 28th, 2017at 6:00 PM </p>
                    </div>
                </div>
            </div>
        </div>
        
        </div>

    </div>
</div>
<div class="container">
    <br/>
    <div class="row">
        <div class="col-md-8 screen-timings">
            <div class="col-md-3">
                <h3>Screen 1</h3> 
            </div>
            <div class="col-md-9 timing-block">
                <span class="label label-success">9:30 AM</span> 
                <span class="label label-success">12:30 PM</span> 
                <span class="label label-success">4:30 PM</span> 
                <span class="label label-success">8:00 PM</span> 
            </div>
        </div>
        <div class="col-md-8 screen-timings">
            <div class="col-md-3">
                <h3>Screen 2</h3> 
            </div>
            <div class="col-md-9 timing-block">
                <span class="label label-success">9:30 AM</span> 
                <span class="label label-success">12:30 PM</span> 
                <span class="label label-success">4:30 PM</span> 
                <span class="label label-success">8:00 PM</span> 
            </div>
        </div>
        <div class="col-md-8 screen-timings">
            <div class="col-md-3">
                <h3>Screen 3</h3> 
            </div>
            <div class="col-md-9 timing-block">
                <span class="label label-success">9:30 AM</span> 
                <span class="label label-success">12:30 PM</span> 
                <span class="label label-success">4:30 PM</span> 
                <span class="label label-success">8:00 PM</span> 
            </div>
        </div>
    </div>
</div>